footer {

    margin-top:50px;
    width: 100%;
    length: 100%;
    text-align: center;
    size: cover;

    padding: 3px;

    background-color: #000511;

    color: #154a78;


}
body {background-color: #92a8d1;}
header{background-color: #011323;}